.grad {
  width: 100%;
  height: 60%;
  position: absolute;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(black, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, rgba(255, 255, 255, 0));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, rgba(255, 255, 255, 0));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, rgba(255, 255, 255, 0));
  /* Standard syntax */
}

.edit-button {
  z-index: 999;
  margin-top: -20px;
  margin-left: 20px;
  position: absolute;
  margin-top: -20px;
}

.card-max-height {
  max-height: 300px;
}

.card-title-position {
  top: 0px;
  left: 0px;
  font-size: 1.2em !important;
}

.card-title-sameline {
  display: inline;
}

.card-title-graph {
  margin-top: -15px;
  padding-left: 20px;
}

.moisture-position {
  top: 20px;
  right: 0px;
  left: 50%;
  font-weight: 500;
  font-size: 58px !important;
}

.card-image {
  display: inline-block !important;
}

.plant-sec-1 {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #fff;
}
.plant-sec-1 img {
  width: auto;
  height: 100%;
}

.plant-sec-2 {
  padding: 30px auto auto auto;
}

.comment-date, .comment-name {
  font-size: 0.8em;
  text-align: left;
  font-weight: 300;
  opacity: 0.6;
}

.plant-sec-2-right {
  background-color: #EFEDED;
}

.each-plant-hour {
  width: 100%;
}
.each-plant-hour li {
  float: left;
  width: auto !important;
  text-align: center;
  line-height: 0.8em;
  border-right: 1px solid #ddd;
}
.each-plant-hour li:first-child {
  background-color: teal;
  color: #fff;
  line-height: 0.6em;
}
.each-plant-hour li:last-child {
  border-left: none !important;
}
